$background-color: #121212;
$text-color: #ffffff;
$color-1: #1e1e1e;
$color-2: #222222;
$color-3: #242424;
$color-4: #272727;
$color-5: #2c2c2c;
$color-6: #2e2e2e;
$color-7: #333333;
$color-8: #343434;
$color-9: #383838; 